<header class="navbar navbar-inverse navbar-fixed-top">
      
      <div class="container">
        
        <div class="navbar-header">
					
						<p class="logo"><%= link_to "Delicious Recipes", "", class:"btn btn-lg btn-success", id:"logo" %></p>
						
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span><!-- line-->
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							
					
						
															
					</div><!--navbar-header-->
					
					      <div class="collapse navbar-collapse nav-item">
								
					        <ul class="nav navbar-nav navbar-right">
									
										<li class="active nav-item1"><%= link_to "Home", "", class:"btn btn-default" %></li>
										<li class="nav-item1"><%= link_to "Best Recipes", "", class:"btn btn-default" %></li>
										<li class="nav-item1"><%= link_to "Resources", "", class:"btn btn-default" %></li>
										<li class="nav-item1"><%= link_to "about Us", "", class:"btn btn-default" %></li>
										<li class="nav-item1"><%= link_to "Contact Us", "", class:"btn btn-default" %></li>
										
									</ul>
									
									
								
								</div><!--navbar collapse -->
					  
				  
				  
				  
				  
				  
					  
			</div><!--Container -->
		</header>